@media only screen and (min-width: 1366px) {
    .poster-box {
        width: 224.8px;
    }
  }

@media only screen and (min-width: 1920px){
    .poster-box {
        width: 271.8px;
        height: 360px;
    }
}